table{
  width: 100%;
  margin-bottom: 1rem;

}
td,th{
  border: 1px solid #000;
}
td{
  text-align: center;
  transition: all .2s;
  width: 60px;
  height: 80px;
}

td .disabled {
  opacity: .2;
}
td:hover:not(.disabled){
  background: #eee;
  cursor: pointer;
}
.active{
  color: var(--primar-color);
  font-weight: bold;
}
.selected{
  color: blue;
}
